.user{
  display: flex;
}

.body{
  margin-left: 50px;
  font-weight: 700;
  color: gray;
  font-size: 30px;
}
.body a{
  color: inherit;
}
.body a:hover{
  text-decoration: underline;
}

.name{
  margin-bottom: 20px;
}
.contacts{
}
.links{
  display: flex;
  flex-direction: column;
}