.user{
  display: flex;
}

.avatar{
  width: 150px;
}
.avatar__img{
  width: 100%;
}
.body{
  margin-left: 50px;
  font-weight: 700;
  color: gray;
  font-size: 30px;
}
.body a{
  color: inherit;
}
.body a:hover{
  text-decoration: underline;
}

.name{
  margin-bottom: 20px;
}

.links{
  display: flex;
  flex-direction: column;
}

.input{
  border: 1px solid black;
  padding: 10px 0 10px 10px;
  width:100%;
  font-size: 18px;
  border-radius: 20px;
}