* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

body{
  font-family: 'Courier New', Courier, monospace;
}
.app-wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "nav content";

    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    gap: 10px;
}

.content {
  background-color: red;
  grid-area: content;
}

.content__top-img{
  margin-bottom: 10px;
}
.content__top-img img{
  width: 100%;
}

.content__user{
  display: flex;
}

.content__user-body{
  margin-left: 50px;
  font-weight: 700;
  color: gray;
  font-size: 30px;
}
.content__user-body a{
  color: inherit;
}
.content__user-body a:hover{
  text-decoration: underline;
}

.content__user-name{
  margin-bottom: 20px;
}

.content__comment-item{
  display: flex;
  align-items: center;
}

.content__comment-avatar{
  border-radius: 50%;
  margin-right: 30px;
}

.content__comment-text{
  font-size: 20px;
  color: rgb(185, 179, 179);
  font-weight: 600;
}

.content__comment-item{
  margin-bottom: 40px;
}

.content__comment-item:last-child{
  margin-bottom: 0;
}

.content__posts{
  margin-bottom: 20px;
}
.content__posts-title{
  font-size: 50px;
  color: gray;
}

.content__posts-btn{
  font-size: 25px;
  padding: 5px 80px;
  background-color: green;
  font-family: inherit;
}
